# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/

android/app/google-services.json
ios/firebase_app_id_file.json
ios/Runner/GoogleServices-Info.plist
lib/firebase_options.dart